<header class="header-home">
	<div class="header-background">
		<img src="<%= headerBackground %>" alt="Background">
	</div>
	<div class="background-overlay"></div>
	<div class="header-content">
		<h1><%= community %></h1>
		<p style="color:  <%= color %>"><%= slogan %></p>

		<div class="cta-buttons">
			<% if (useSteam && useDiscord && useStore) { %>
			<a href="<%= steamLink %>" class="cta" style="background: <%= color %>" target="_blank">STEAM</a>
			<a href="<%= discordLink %>" class="cta" style="background:  <%= color %>" target="_blank">DISCORD</a>
			<a href="<%= storeLink %>" class="cta" style="background:  <%= color %>" target="_blank">STORE</a>
			<% } else if (!useSteam && useDiscord && useStore) { %>
			<a href="<%= discordLink %>" class="cta" style="background:  <%= color %>" target="_blank">DISCORD</a>
			<a href="<%= storeLink %>" class="cta" style="background:  <%= color %>" target="_blank">STORE</a>
			<% } else if (useSteam && !useDiscord && useStore) { %>
			<a href="<%= steamLink %>" class="cta" style="background:  <%= color %>" target="_blank">STEAM</a>
			<a href="<%= storeLink %>" class="cta" style="background:  <%= color %>" target="_blank">STORE</a>
			<% } else if (useSteam && useDiscord && !useStore) { %>
			<a href="<%= steamLink %>" class="cta" style="background:  <%= color %>" target="_blank">STEAM</a>
			<a href="<%= discordLink %>" class="cta" style="background:  <%= color %>" target="_blank">DISCORD</a>
			<% } %>
		</div>
	</div>
</header>